<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- css -->
    {{include '../public-js-css/linkcss.html'}}
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">

        <!-- 顶部导航栏 -->
        {{include '../common/headNavbar.html'}}
        <!-- 侧边栏 -->
        {{include '../common/Sidebar.html'}}


        <div class="layui-body">

            <!-- 内容主体区域 -->

            <div style="padding: 15px;">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>文章管理</legend>
                </fieldset>
                <button type="button" class="layui-btn" id="add">
                    <i class="layui-icon">&#xe608;</i> 添加
                </button>
                <table class="layui-hide" id="test" lay-filter="test"></table>

                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>

            <!-- 底部固定栏 -->
            {{include '../common/bottom.html'}}

        </div>
</body>
<!-- js -->
{{include '../public-js-css/scriptjs.html'}}

<script>
    layui.use(['table', 'element'], function() {
        var element = layui.element;
        var table = layui.table;

        let tableare = table.render({
            elem: '#test',
            url: '/articleAll',
            toolbar: '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
            limit: 5,
            limits: [5, 10, 15, 20],
            defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            title: '用户数据表',
            cols: [
                [{
                    type: 'checkbox',
                    fixed: 'left'
                }, {
                    field: 'art_id',
                    title: 'ID',
                    width: 80,
                    fixed: 'left',
                    unresize: true,
                    sort: true,
                    hide: true
                }, {
                    field: 'title',
                    title: '标题',
                    width: 120,
                    edit: 'text'
                }, {
                    field: 'content',
                    title: '内容',
                    width: 150,
                    edit: 'text',

                }, {
                    field: 'cat_id',
                    title: '分类',
                    width: 80,
                    edit: 'text',
                    sort: true
                }, {
                    field: 'author',
                    title: '作者',
                    edit: 'text',
                    width: 100
                }, {
                    field: 'cover',
                    title: '封面图片',
                }, {
                    field: 'status',
                    title: '状态',
                    width: 100,
                }, {
                    field: 'publish_date',
                    title: '发布日期',
                    width: 120,
                }, {
                    fixed: 'right',
                    title: '操作',
                    toolbar: '#barDemo',
                    width: 115
                }]
            ],
            page: true
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                    //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj) {
            var data = obj.data;
            // console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('是否确认删除', function(index) {
                    let art_id = obj.data.art_id
                    $.post('/deleartRow', {
                        art_id
                    }, (res) => {
                        let {
                            errcode,
                            message
                        } = res;
                        if (errcode == 0) {
                            layer.msg(message);
                            tableare.reload(); // 局部刷新  表格刷新
                            obj.del(); //删除当前行
                            layer.close(index); //确认后关闭弹窗
                        } else {
                            layer.msg(message);
                            obj.del(); //删除当前行
                            layer.close(index); //确认后关闭弹窗
                        }

                    }, 'json');
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2,
                    value: data.email
                }, function(value, index) {
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
    });


    // 跳转添加数据页面
    $('#add').on('click', function() {
        location.href = '/addArticlePage'
    })
</script>

</html>