<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        .box {
            width: 398px;
            height: 578px;
            border: 1px solid transparent;
        }
        
        .portrait {
            height: 178px;
            width: 100%;
            background-color: #48463e;
            display: flex;
            align-items: center;
        }
        
        .headPort {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin: 0 10px 0 35px;
            overflow: hidden;
            background-color: cadetblue;
        }
        
        .usernamae {
            font-size: 20px;
            color: #fff;
        }
        
        .LoginTime {
            position: absolute;
            margin: 10px;
            bottom: 0;
            right: 0;
        }
    </style>
</head>

<body>
    <div class="box">
        <div class="portrait">
            <div class="headPort" id="headPort">
                <img src="/public/image/headPortrait.png" style="width: 100%;" id="head_conf">
            </div>
            <button type="button" class="layui-btn" id="test1" style="display: none;">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <span class="usernamae" id="username">用户名</span>
            <span class="LoginTime">最近登陆时间：<span id="loginTime_1" style="color:green">0000-00-00</span></span>
        </div>
        <div class="layui-form-item">
            <span style="color:red">点击头像进行更换</span>
            <!-- <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>详细信息</legend>
            </fieldset> -->
        </div>
        <!--  -->
        <form class="layui-form" action="" lay-filter="formUser">
            <div class="layui-form-item">
                <label class="layui-form-label">性别:</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="1" title="男">
                    <input type="radio" name="sex" value="0" title="女">
                    <input type="radio" name="sex" value="3" title="保密" checked>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">个性签名:</label>
                <div class="layui-input-block">
                    <textarea name="explain" required lay-verify="required" placeholder="请输入" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" lay-submit lay-filter="replace">确认</button>
                </div>
            </div>
        </form>
        <!--  -->
    </div>
</body>
<script src="/public/js/jQuery.js"></script>
<script src="/public/layui/layui.js"></script>
<script src="/public/js/moment.js"></script>
<script>
    $('#headPort').on('click', function() {
        $('#test1').click();
    })

    // 获取当前url地址
    let url = location.href;
    // 定义正则用来获取 cat_id 的参数
    let reg = /user_id=(.*)&?/;
    let user_id = reg.exec(url)[1];
    console.log(user_id);


    layui.use(['form', 'upload'], function() {
        var form = layui.form;
        var upload = layui.upload;

        var OldPict; // 储存旧图片地址
        let potr_url; //储存上传图片的路径
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
                ,
            url: '/upload' //上传接口
                ,
            done: function({
                code,
                message,
                src
            }) {
                if (code == 0) {
                    //上传完毕回调
                    potr_url = src;
                    //预览 询问框
                    layer.confirm(`<img src="${src}" style="width:80px"/>`, {
                        closeBtn: 0,
                        title: '',
                        btn: ['确认', '取消'] //按钮
                    }, function() {
                        modify();
                    }, function() {
                        delPrt();
                    });
                } else {
                    layer.msg(message);
                }
            },
            error: function() {
                //请求异常回调
            }
        });

        //预览确认 修改当前头像
        function modify() {
            if (!potr_url) {
                return;
            }
            // 发送ajax请求
            $.post('/picture_upload', {
                OldPict,
                potr_url,
                user_id
            }, (res) => {
                let {
                    errcode,
                    message
                } = res;
                if (errcode == 0) {
                    $('#head_conf').attr('src', potr_url)
                    OldPict = potr_url;
                    console.log(OldPict);
                    layer.msg(message);
                    potr_url = '';
                    return;
                }
                layer.msg(message);
            }, 'json');
        }

        // 预览取消  删除当前预览的照片
        function delPrt() {
            if (!potr_url) { //当前预览图片的路径
                return;
            }
            $.ajax({
                type: 'delete',
                url: '/delPrt',
                data: {
                    potr_url
                },
                dataType: 'json'
            }).then(res => {
                console.log(res);
            })
        }

        // 修改个人资料
        form.on('submit(replace)', function(data) {
            // console.log(data); //获取的是表单数据 和点击提交的按钮
            //loading层 遮盖
            var index = layer.load(1, {
                shade: [0.4, '#fff'] //0.4透明度的白色背景
            });
            data.field.user_id = user_id;
            // 发送ajax请求
            $.ajax({
                type: 'put',
                url: '/Profile_alter',
                data: data.field //把表单数据传过去
            }).then(res => {
                let {
                    errcode,
                    message
                } = res;
                if (errcode == 0) {
                    layer.msg(message)
                } else {
                    layer.msg(message)
                }
            })
            layer.close(index); //疯狂模式，关闭所有层
            return false; //阻止表单提交的默认行为
        });


        // 获取当前use_id的头像和用户名 数据回显
        function initial() {
            if (user_id == 'undefined') {
                return;
            }
            $.post('/obtain_pict', {
                user_id
            }, (res) => {
                console.log(res);
                let {
                    username,
                    avatar,
                    last_login_date,
                    sex,
                    explain_1
                } = res
                if (avatar) {
                    $('#head_conf').attr('src', avatar);
                    OldPict = avatar;
                }
                $('#username').html(username);
                $('#loginTime_1').html(moment(last_login_date).format("YYYY-MM-DD HH:mm:ss"))
                    //给表单赋值
                form.val("formUser", { //formUser 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                    sex, //性别
                    explain: explain_1 //个性签名
                });
            }, 'json')
        }
        initial()
    });
</script>

</html>