<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- css -->
    {{include './public-js-css/linkcss.html'}}
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- 顶部导航栏 -->
        {{include './common/headNavbar.html'}}
        <!-- 侧边栏 -->
        {{include './common/Sidebar.html'}}

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px; display: flex;">
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div id="cate" style="width: 600px;height:400px;"></div>
                <div id="month" style="width: 600px;height:400px;"></div>
            </div>
        </div>

        <!-- 底部固定栏 -->
        {{include './common/bottom.html'}}

    </div>
    <!-- js -->
    {{include './public-js-css/scriptjs.html'}}
    <script src="/public/js/echarts.min.js"></script>
    <script>
        // 发送ajax请求 获取要统计的数据
        $.get('/cateCount', function(res) {
            let dom = document.querySelector('#cate')
            let names = [];
            let totals = [];
            res.map(val => {
                names.push(val.name);
                totals.push(val.total);
            })
            let styleType = 'bar';
            let title = '文章管理统计表'
            initEchart({
                names,
                totals,
                dom,
                styleType,
                title
            });
        }, 'json');


        // 发送ajax请求 获取每月的总数
        $.get('/monArtCount', function(res) {
            let dom = document.querySelector('#month')
            let names = [];
            let totals = [];
            res.map(val => {
                names.push(val.month + '月');
                totals.push(val.total);
            })
            let styleType = 'line';
            let title = '每月文章数'
            initEchart({
                names,
                totals,
                dom,
                styleType,
                title
            });
        })


        // 渲染可视数据的函数
        function initEchart(obj) {
            let {
                names,
                totals,
                dom,
                styleType,
                title
            } = obj;
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(dom);

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: title, //标题
                    // subtext: '单位：文章数',
                    left: 'center', //对齐方式
                    top: 'top',
                },
                tooltip: {
                    show: true,
                    axisPointer: {
                        type: 'cross' // 显示十字 虚线数据
                    }
                },
                legend: {
                    data: ['统计']
                },
                xAxis: {
                    data: names // 名称 获取一个数组
                },
                yAxis: {},
                series: [{
                    name: '文章数',
                    type: styleType, // bar-柱状 line-折线 pie-饼状
                    data: totals, // 数量 获取一个数组
                    label: {
                        show: true, //直接显示 数据再数据图上
                        fontSize: 18, //字体大小
                    }
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        }


        //JavaScript代码区域
        layui.use('element', function() {
            var element = layui.element;

        });
    </script>
</body>

</html>