<div class="layui-header">
    <div class="layui-logo"><a href="/">LOGO</a></div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left ">
        <li class="layui-nav-item "><a href=" ">控制台</a></li>
        <li class="layui-nav-item "><a href=" ">商品管理</a></li>
        <li class="layui-nav-item "><a href=" ">用户</a></li>
        <li class="layui-nav-item ">
            <a href="javascript:; ">其它系统</a>
            <dl class="layui-nav-child ">
                <dd><a href=" ">邮件管理</a></dd>
                <dd><a href=" ">消息管理</a></dd>
                <dd><a href=" ">授权管理</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right ">
        <li class="layui-nav-item ">
            <a href="javascript:; " style="color:red ">
                <img src="/public/image/headPortrait.png" class="layui-nav-img " id="head_conf">
                <span id="userName">&nbsp;</span>
            </a>
            <dl class="layui-nav-child ">
                <dd><a href="javascript:;" id="personal">更换头像</a></dd>
                <dd><a href="javascript:;">修改密码</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item "><a href="javascript:; " id="logOff">退出</a></li>
    </ul>
</div>
<script src="/public/js/jQuery.js "></script>
<script src="/public/layui/layui.js"></script>
<script>
    // 发送ajax请求,获取当前session用户信息
    let user_id;
    (function() {
        $.get('/userSession', function(res) {
            $('#userName').text(res.username);
            user_id = res.user_id;
            // console.log(res);
            initial();
        }, 'json')
    })()

    // 获取当前session用户的头像
    function initial() {
        if (user_id == 'undefined') {
            return;
        }
        $.post('/obtain_pict', {
            user_id
        }, (res) => {
            let {
                avatar
            } = res
            if (avatar) {
                $('#head_conf').attr('src', avatar);
            }
        }, 'json')
    }

    layui.use('layer', function() {
        var layer = layui.layer;
    });

    // 退出登陆
    $('#logOff').on('click', function() {
        layer.confirm('退出当前账号', {
            title: '',
            btn: ['退出', '取消'] //按钮
        }, function() {
            location.href = '/LogOut'; //退出登陆
        });
    })


    // 更换头像
    $('#personal').on('click', function() {
        //iframe层
        layer.open({
            type: 2,
            title: '',
            shadeClose: true,
            shade: 0.5,
            shadeClose: false,
            area: ['400px', '580px'],
            content: `/personal?user_id=${user_id}`, //iframe的url
            cancel: function(index, layero) {
                location = location //点击关闭弹窗刷新页面
                return true;
            }
        })
    })
</script>